<!DOCTYPE html>

<html>
    <head>
<!-- create a generic fav ico -->
<!-- this adds the google icon at the top of the browser -->
        <link rel="shortcut icon" href="http://www.google.com/favicon.ico" />

        <title>My First Web App</title>
    </head>
    <body>
        <h1>Table!</h1>
    </body>
<!-- create a table in html -->
    <table>
        <tr>
            <th>Id</th>
            <th>Task</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.id }}    </td>
            <td>{{ item.task }}</td>
            
        </tr>
        {% endfor %}
    </table>            
        <hr>
    
</html>